body.heroic {
  --background: #0B0C0C;
  --background-darker: #060707;
  --background-secondary: #101111;
  --background-lighter: #151616;
  --accent: #666a6d;
  --text-default: #eae9e3;
  --navbar-accent: #666a6d;
  --navbar-active-background: #393e3e;
  --success: #6E6A64;
  --success-hover: #6E6A64;
  --primary: #666a6d;
  --primary-hover: #666a6d;
  --danger: #f24331;
  --danger-hover: #f24331;
  --anticheat-supported: #6E6A64;
  --anticheat-planned: #EBD698;
  --icon-disabled: #f24331;
  --cancel-button: #f24331;
  --anticheat-broken: #f24331;

  --accent-overlay: var(--accent);
  --navbar-background: var(--background);
  --body-background: var(--background-darker);
  --current-background: var(--body-background);
  --text-secondary: var(--text-default);
  --text-tertiary: var(--background);
  --navbar-active: var(--accent);
  --input-background: var(--background);
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --anticheat-denied: var(--danger);
  --anticheat-running: var(--text-default);
  --text-title: var(--text-default);
  --icons-background: var(--background-lighter);
  --action-icon: var(--navbar-accent);
  --action-icon-hover: var(--text-default);
  --action-icon-active: var(--accent);
  --neutral-06: var(--text-default);
}
