<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.macarchy.raycast-clipboard-watcher</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>mkdir -p "$HOME/Library/Logs"; exec /Library/Developer/CommandLineTools/usr/bin/swift "$HOME/.config/raycast/extensions/clipboard-history/clipboard-watcher.swift" &gt;&gt; "$HOME/Library/Logs/raycast-clipboard-watcher.log" 2&gt;&amp;1</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
